<p id="notice"><%= notice %></p>

<%= image_tag 'restaurant_logo.jpg', {class:"img-circle", id:"img_logo"} %>
<h1>Listing Restaurants</h1>

    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="card">
          <h2><%= restaurant.name %> - <span class="label label-primary"><%= restaurant.stars %></span></h2>
          <em><%= restaurant.address %></em>
          <p class="text-center"><%= restaurant.description %></p>
        </div>
      <% end %>
        <%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>


<%= link_to 'New Restaurant', new_restaurant_path %>
